@{
    ViewData["Title"] = "About Us";
}
<body class="bg-secondary">
    <br />
    <br />
    <br />
    <h3 class="bg-dark text-light rounded-top rounded-bottom toast-header">Key Members</h3>
    <img src="~/img/member.jpg" alt="members" class="img-thumbnail" />
    <aside class="d-sm-inline-flex border" style="padding:20px">
        <div class="one bg-secondary text-light text-lg-center">
            <h4 class="bg-dark  rounded-top rounded-bottom ">Andrew Steele</h4>
            <p class="bg-secondary text-light">
                Andrew is the Founder and CEO of Melted treasure. He is the idle of many co-workers. He works as
                he is one of us. Dedication towards work and the targets and future goals. He also have 3 plans hin his mind
                if one fails then Another takes the place and that's how he conqurered on his failiure.
            </p>
        </div>
        <div class="bg-white" style="width:3px; hight:80px ;margin:5px;"></div>
        <div class="two bg-secondary text-light text-lg-center">
            <h4 class="bg-dark  rounded-top rounded-bottom ">Alex Millerman</h4>
            <p class="bg-secondary text-light">
                Alex is the CSO of Melted treasure. He is very hard working and kind with everyone. Purely dedicated towards the security goal of company and strict at his work.
                The guy who always motivate evryone. He designed the whole security of the website and also was the part of CISCO in past.
            </p>
        </div>
    </aside>
    <br />
    <br />
    <br />
    <h3 class="bg-dark text-light rounded-top rounded-bottom toast-header" style="font-family:'Lucida Sans'">Businesss</h3>
    <aside class="d-sm-inline-flex border" style="padding:20px; width:100%">
        <img src="~/img/headquarters.jpg" alt="headquater" class="card-img" style="width:400px; hight:70px;" />
        <div style="width:20px; hight:auto;"></div>
        <p class="text-light">
            <text class="bg-dark text-light rounded-top rounded-bottom" style="font-family:'Lucida Sans'; width:150px; hight: 70px; font-size:xx-large">Our Promises</text><br />

            Guranteed Natural Flower fragrance Promised by our cheif officer.<br /> We are greating 99.99% Environmental friendly candles.<br />
            From different shapes to different and sizes are avilable at our <br />store. When in Los Angeles,
            please visit our 3,400 sq ft flagship store <br />on the famed Santa Monica Blvd strip in West Hollywood<br />
            to experience the best candles in the world.<br /> Please call 1-888-656-0000 if you have any questions.<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />


            <text class="bg-dark text-light rounded-top rounded-bottom" style="font-family:'Lucida Sans'; width:150px; hight: 70px; font-size:xx-large">Store Location</text><br />
            VISIT US AT:<br />
            West Hollywood Flagship<br />
            7980 Santa Monica Blvd<br />
            West Hollywood, CA 90046<br />
            323-656-3900<br />
        </p>
    </aside>
</body>
